.gift-table, .gift-table td {
    border: 1px solid black;
}

.gift-field-row__label {
    width: 0;
    white-space: nowrap;
    padding-right: 1em;
}
.gift-label {
    font-weight: bold;
}
.gift-table td {
    padding: 0.3em 0.5em;
}
.gift-field-row__value {
    width: 50%;
}


@media print
{    
    .gift-fields
    {
        display: none !important;
    }
}

.gift-fields {
    display: table;
    border: 1px dashed black;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

.gift-items {
    min-height: 450px;;
}
.gift-item__delete {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

.gift-field {
    display: table-row;
}
.gift-field__label {
    display: table-cell;
    padding: 0.3em;
    white-space: nowrap;
    width: 0;    
}
.gift-field__input {
    width: 600px;
}
.gift-field__input-container {
    display: table-cell;
}

.gift-add-item__input {
    width: 600px;
}

.gift-header {
    font-size: 110%;
    text-align: center;
}

.gift-save {
    margin-top: 10px;
}
#print {
    width: 100vw;
    height: 100vh;
}

.birka {
    display: block;
    width: 100vw;
    height: 100vh;
    page-break-after: always;
}

table {
    width: 100%;			
    border-collapse: collapse;
}

th,
td {
    padding: 1px 2px;
    /* Поля вокруг содержимого ячеек */
    border-bottom: 1px solid black;
    /* Граница вокруг ячеек */
    font-size: 11pt;
}
td.male-female {
    width: 0;
    border-left: 1px solid black;
    white-space: nowrap;
    padding-right: 0;
}
td.category-value {
    width: 50px;
}
.male-female__item {
    display: inline-flex;
    align-items: center;
}
.male-female__item {
    padding-right: 5px;
}
td.label {
    border-right: 1px solid black;
    width: 45px;
    white-space: nowrap;
}
td.label.right {
    border-left: 1px solid black;
}
td.bottom {
    border-bottom: 0;
    padding: 1;
}

.checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 3px;
}

.settings__option {
    font-size: 1.5rem;
}

.setting-header {
    display: inline-block;
    width: 200px;
}

.settings__option label {
    padding: 15px;
    display: inline-block;
    border: 1px solid gray;
    margin: 5px;
}

.settings__option label:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.settings__option_categories {
    display: flex;
}

.settings__option_categories .setting-header {
    flex: 0 0 auto;
}

.settings__option_categories label {
    width: 45%;
    padding: 15px;
}

.setting-values-multiline {
    display: inline-block;    
    flex: 1 1 0%;
    padding-left: 6px;
}

.settings__option_hidden {
    display: none;
}

.settings__option_count {
    display: block;
    text-align: center;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.settings__credentials {
    font-size: 1em;
    padding: 10px;
}
.settings__title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}

.settings__main-button {
    margin-top: 50px;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
    width: 50%;
    margin-left: 25%;
}
.settings__main-button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.settings__main-button:active {
	position:relative;
	top:1px;
}

.settings__login-info a {
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}