#print {
    width: 230mm;
}

.birka {
    display: inline-block;
    width: 33%;
}

table {
    width: 100%;			
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 15px 4px;
    /* Поля вокруг содержимого ячеек */
    border-bottom: 1px solid black;
    /* Граница вокруг ячеек */
    font-size: 9pt;
}
td.male-female {
    width: 0;
    border-left: 1px solid black;
    white-space: nowrap;
    padding-right: 0;
}
td.category-value {
    width: 50px;
}
.male-female__item {
    display: inline-flex;
    align-items: center;
}
.male-female__item {
    padding-right: 5px;
}
td.label {
    border-right: 1px solid black;
    width: 65px;
    white-space: nowrap;
}
td.label.right {
    border-left: 1px solid black;
}
td.bottom {
    border-bottom: 0;
    padding: 1;
}

.checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 3px;
}

.settings__option {
    display: none;
}

.settings__option_count {
    display: block;
    text-align: center;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.settings__credentials {
    font-size: 1em;
    padding: 10px;
}
.settings__title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}

.settings__login-info {
    color: gray;
    padding: 35px
}

.settings__main-button {
    margin-top: 50px;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:14px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.settings__main-button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.settings__main-button:active {
	position:relative;
	top:1px;
}

.settings__login-info a {
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}