.visitor-body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.visitor-controls {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.large-input-label {
    padding: 5px;
}

.large-input, .large-button {
    width: 250px;
    max-width: calc(100vw - 10px - 16px);
    height: 60px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 26px;
}

.gift-fields td {
    border-bottom: 0;
}

.hide {
    display: none;
}

#offender {
    font-size: larger;
    color: red;
    font-weight: bold;
}

.visit__offender {
    color: red;
    font-weight: bold;
}

.visit {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.limit-message {
    color: red;
    font-weight: bold;
}

@media print {
    .visitor-controls {
        display: none;
    }
    #visitHistory {
        display: none;
    }
    h3, h5, ul, .visit {
        margin: 0;
        padding: 0;
        border: none;
    }
    ul {
        padding-left: 12px;
    }
    body {
        font-size: 14px;
    }
    #gift {
        display: none;
    }
}

#visitorPanel {
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
}

#visitorPanel .visitor-panel-side {
    flex: 1 1 0%;
    height: 100%;
    overflow: auto;
}

#gift.visitor-panel-side {
    flex: 1.5 1 0%;
}

.gift-add-item__person-list-item:hover {
    border-color: rgba(0, 0, 255, 0.254);
    background-color: rgba(217, 255, 0, 0.24);
}

.gift-add-item__person-list-item {
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid transparent;
    display: inline-block;
}

.gift-add-item__person-list-item.selected {
    border-color: rgb(0, 0, 139);    
    background-color: rgba(217, 255, 0, 0.601);
}

.gift-add-item__person-list {
    padding: 10px;
}

.gift-add-item__card {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 3px;
}

.gift-add-item__card:hover {
    background-color: rgba(217, 255, 0, 0.24);
}

.gift-add-item__card.gift-add-item__card_restricted {
    background-color: rgb(255 0 0 / 46%);
    cursor: no-drop;
}

.gift-add-item__card-icon {
    height: 50px;
}
.gift-add-item__card-name {
    width: 50px;
}

.gift-add-item__group {
    position: relative;
    padding-left: 70px;
}

.gift-add-item__group-icon {
    position: absolute;
    max-height: 86px;
    max-width: 50px;
    top: 0;
    left: 0;
}

.add-item-toast__person {
    font-weight: bold;
    padding-bottom: 5px;
}

.add-item-toast__image {
    height: 1.5em;
    padding-right: 5px;
}

.add-item-toast__cancel {

}