.visitor-controls {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.large-input-label {
    padding: 5px;
}

.large-input, .large-button {
    width: 250px;
    max-width: calc(100vw - 10px - 16px);
    height: 60px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 26px;
}

.hide {
    display: none;
}

#offender {
    font-size: larger;
    color: red;
    font-weight: bold;
}

.visit__offender {
    color: red;
    font-weight: bold;
}

.visit {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.limit-message {
    color: red;
    font-weight: bold;
}

@media print {
    .visitor-controls {
        display: none;
    }
    #visitHistory {
        display: none;
    }
    h3, h5, ul, .visit {
        margin: 0;
        padding: 0;
        border: none;
    }
    ul {
        padding-left: 12px;
    }
    body {
        font-size: 14px;
    }
    #gift {
        display: none;
    }
}

#visitorPanel {
    display: flex;
}

#visitorPanel .visitor-panel-side {
    flex: 1 1 0%;
}

.gift-add-item__person-list-item:hover {
    border-color: rgba(0, 0, 255, 0.254);
    background-color: rgba(217, 255, 0, 0.24);
}

.gift-add-item__person-list-item {
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.gift-add-item__person-list-item.selected {
    border-color: rgb(0, 0, 139);    
    background-color: rgba(217, 255, 0, 0.601);
}

.gift-add-item__person-list {
    padding: 10px;
}