.visitor-controls {
    padding: 5px;
    text-align: center;
}

.large-input-label {
    padding: 5px;
}

.large-input, .large-button {
    width: 350px;
    max-width: calc(100vw - 10px - 16px);
    height: 60px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 26px;
}

.hide {
    display: none;
}

#offender {
    font-size: larger;
    color: red;
    font-weight: bold;
}

.visit__offender {
    color: red;
    font-weight: bold;
}

.visit {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}